
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
    font-family: JetBrainsMono;
    src: url(fonts/fonts/webfonts/JetBrainsMono-Bold.woff2);
}

body {
    /* background-color: #526863;
    background-color: #314641; */
    /*background-color: #203732;*/
    background-color: #362167;

    color: white;
    font-family: "JetBrainsMono";
    font-size: medium;
}

.title-box {
    position: absolute;
    text-align: left;
    color: #FFFFFF;
    
    top: 0%;
    left: 3%;

    width: 75%;

    font-size: 8em;
    margin: 0;
}

.title-box h1 {
    margin: 0;
    color: #FFFFFF;
}

@keyframes growFromLeft {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

.changing-text-panel {
    margin: 1%;
    width: 80%;
    word-wrap: break-word;
    height: 92vh;
    /* text-overflow: hidden; */
    font-size: xx-small;
    float: left;
    color: #00c109;

    animation: 1s ease-out 0s 1 growFromLeft;

    padding: 0.5em;
    border-right: solid #00c109;
}

.changing-text-panel p {
    height: inherit;
    overflow: hidden;
}

.main-title-box {
    
}

nav {
    float: left;
    color: #01D6D6;
    font-size: large;
}

nav a {
    color: #01D6D6;
}

.about-me {
    float: left;
    width: 15%;
}

footer {
    float: right;
    align-items: baseline;
}

.github-logo{
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 3em;
    height: 3em;
}