@font-face {
    font-family: JetBrainsMono;
    src: url("/fonts/JetBrainsMono[wght].ttf");
}

body {
    font-family: JetBrainsMono;
    color: white;
    color-scheme: dark;
    background-color: #292929;
}

a {
    color: inherit;
}
/* 
body {
    background-color: #292929;
} */