.content a {
    color: #36c;
    text-decoration: none;
}

.content a:hover {
    color: #447ff5;
    text-decoration: underline;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse
}